* {
  box-sizing: border-box;
}

/* Fonts */

h1 {
  font-family: "Futura-Book", sans-serif;
  font-size: 4rem;
  margin: 0;
}

h2 {
  font-family: "Apercu-mono", sans-serif;
  font-size: 3.3rem;
  margin: 0;
}

h3 {
  font-family: "Helvetica-Neue-Regular", sans-serif;
  font-size: 2.2rem;
  margin: 0;
}

h3 strong {
  font-family: "Helvetica-Neue-Medium", sans-serif;
  font-size: 2.5rem;
  margin: 0;
}

h4 {
  font-family: "Poppins-Regular", sans-serif;
  font-size: 1.7rem;
  margin: 0;
}

p {
  font-family: "Quicksand-Regular", sans-serif;
  font-size: 1rem;
  margin: 0;
  max-width: 50rem;
}

li {
  font-family: "SFPro-Medium", sans-serif;
  font-size: 1rem;
  margin: 0;
}

a {
  font-family: "SFPro-Medium", sans-serif;
  font-size: 1rem;
  margin: 0;
  color: #323E74;
  transition: color 0.5s;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #E68600;
}

/* End of Fonts */


/* Buttons, Forms, & Lables*/

button {
  font-family: "SFPro-Medium", sans-serif;
  min-width: 290px;
  height: 60px;
  background-color: #323E74;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 3px;
  transition-property: background-color;
  transition-duration: 0.5s;
  margin-bottom: 1rem;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  cursor: pointer;
}

button:hover,
:focus {
  background-color: #e68600;
}

input:hover,
input:focus {
  background-color: white;
}

/* End of Buttons, Forms, & Lables */


/* Top Navigation */

nav {
  position: sticky;
  top: 0px;
}

.navbar {
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  max-width: 1240px;
  width: 90%;
  margin: auto;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #767C7C;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  color: black;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 8rem;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}

/* Top nav inspired from https://alvarotrigo.com/blog/hamburger-menu-css/ */
/* End of Top Navigation */

/* Footer */

footer {
  display: block;
  position: relative;
  padding-top: 2.5rem;
  width: 100%;
}

@media screen and (min-width: 900px) {
  footer {
    padding-top: 2rem;
  }
}

.footer-content-container {
  background-color: #303030;
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.footer-content-container h4 {
  color: #F4EBCF;
  margin-bottom: 0.5rem;
}

.footer-content-container p {
  color: white;
  max-width: 90%;
}

@media screen and (min-width: 1240px) {
  .footer-content-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.footer-grid-container {
  display: grid;
  margin-top: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer-grid-cols {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

@media screen and (min-width: 900px) {
  .footer-grid-container {
    margin-top: 4.5rem;
    grid-column-gap: 1.25rem;
    column-gap: 1.25rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-grid-cols {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .footer-grid-cols-span2 {
    grid-column: span 2/span 2;
  }
}

@media screen and (min-width: 1240px) {
  .footer-grid-container {
    max-width: 1240px;
  }
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer li {
  margin-top: 0.8rem;
}

footer h4 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

footer p {
  margin-top: 2rem;
  color: #F4EBCF;
}

footer a {
  font-family: "Quicksand-Regular", sans-serif;
  margin-top: 0;
  font-size: 1rem;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: #979797;
  transition-property: color;
  transition-duration: 0.5s;
}

footer a:hover,
footer a:focus,
footer a:active {
  color: #FFFFFF;
}

/* End of Footer */