* {
    box-sizing: border-box;
}

body {
    background-image: url("/img/bg.png");
}

/* Top Navigation */

.navbar-div {
    padding: 2rem 2.5rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  .left-nav {
    list-style-type: none;
    padding: 0;
  }
  
  .left-nav li {
    display: inline-block;
    position: relative;
    margin-right: 1.5rem;
  }
  
  .nav-text {
    text-decoration: none;
    color: #333;
    font-size: 0.9rem;
  }
  
  .left-nav li::after {
    content: "";
    position: absolute;
    width: 5.5px;
    height: 5.5px;
    border-radius: 50%;
    background-color: transparent;
    bottom: -7px;
    left: 50%;
    top: 35px;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
  }
  
  .left-nav li:hover::after {
    background-color: #000;
  }
  
  .middle-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .logo-img {
    width: 6rem;
    text-align: center;
  }
  
  .heart-logo {
    width: 1rem;
  }
  
  .search-icon {
    width: 1rem;
  }
  
  .heart-logo:hover,
  .search-icon:hover {
    width: 1rem !important;
  }
  
  .right-nav {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .right-nav a {
    text-decoration: none;
    color: #333;
    margin-left: 1.5rem;
    font-size: 0.9rem;
  }
  
  @media (min-width: 900px) {
    .topnav {
        display: none;
    }
  
  }
  
  .dropdown {
    display: none;
  }
  
  .underline {
    text-decoration: underline !important;
  }
  
  /* Media query for screens less than 900px */
  @media (max-width: 900px) {
    .navbar-div {
        margin: -.5rem 0rem -0.5rem -1rem;
        display: flex;
        justify-content: space-between;
    }
  
  .left-nav {
      display: none;
  }
  
  .nav-text {
      font-size: 0.8rem;
  }
  
  .dropdownbtn {
    background-color: white;
      color: black;
      border: none;
      cursor: pointer;
  }
  
  .dropdown {
      position: relative;
      display: inline-block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0);
      z-index: 1;
  }
  
  .dropdown-content a {
      padding: 10px 16px;
      display: block;
  }
  
  .dropdown-content a:hover {
      background-color: rgb(234, 234, 234);
  }
  
  .dropdown:hover .dropbtn {
      background-color: white;
      text-decoration: underline;
  }
  
  .menu-icon { 
      width: 2.5rem;
  }
  
  .logo-img {
      width: 5rem;
  }
  
  .heart-logo {
      display: none;
  }
  
  .hide-nav {
      display: none;
  }
  
  .right-nav {
      padding-top: 1rem;
  }
  
  }
  
  /* End of Top Navigation */